.datron-page {
  width: 100%;
  font-family: "DM Sans", sans-serif;
  color: white;
}

.header-datron {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0%;
  width: 100%;
  min-width: 1350px;
  height: 137px;
  z-index: 100;
  background-color: white;
}

.header-1 {
  display: flex;
  width: 100%;
  height: 37px;
  padding-left: 135px;
  padding-right: 135px;
  background-color: #00336a;
}

.header-2 {
  display: flex;
  align-items: center;
  height: 100px;
  padding-left: 135px;
  padding-right: 135px;
  justify-content: space-between;
}

.header-left-1 {
  display: flex;
  width: 20%;
  min-width: 180px;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}

.header-right-1 {
  width: 80%;
}

.menu-content {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  align-items: center;
  list-style: none;
}

.text-14 {
  font-size: 14px;
}

.text-16 {
  font-size: 16px;
  font-weight: 500;
}

.text-18 {
  font-size: 18px;
  font-weight: 500;
}

.text-20 {
  font-size: 20px;
}

.text-24 {
  font-size: 24px;
}

.text-40 {
  font-size: 40px;
  font-weight: 500;
}

.text-48 {
  font-size: 48px;
  font-weight: 700;
}

.menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 24px;
}

.menu-link-2 {
  text-decoration: none;
  margin-right: 24px;
  color: black;
}

.menu-link-3 {
  text-decoration: none;
  color: black;
}


.menu-link-3 {
  text-decoration: none;
  margin-bottom: 12px;
  color: #222222;
}

.menu-link-4 {
  text-decoration: none;
  color: #4f4f4f;
}

.menu-link-4:hover {
  color: #4f4f4f;
}

.menu-content-2 {
  display: flex;
  min-width: 1000px;
  align-items: center;
  list-style: none;
  color: black;
  height: 100px;
}

.btn-datron {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 197px;
  height: 47px;
  background-color: #00336a;
  color: white;
  border-radius: 16px;
  text-decoration: none;
}

.btn-datron:hover {
  color: white;
}

.btn-datron-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 327px;
  height: 47px;
  background-color: #0080c5;
  color: white;
  border-radius: 16px;
  margin-top: 24px;
}

.btn-datron-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 242px;
  height: 47px;
  background-color: #00336a;
  color: white;
  border-radius: 16px;
  margin-top: 24px;
}

.btn-datron-4 {
  display: flex;
  justify-content: center;
  font-size: 16px;
  align-items: center;
  border: none;
  color: #0080c5;
  background-color: white;
  margin-right: 15px;
}

.btn-datron-5 {
  display: flex;
  justify-content: center;
  width: 243px;
  height: 50px;
  font-size: 16px;
  align-items: center;
  border: none;
  border-radius: 16px;
  color: white;
  background-color: #00336a;
}

.btn-datron-6 {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  width: 294px;
  height: 47px;
  font-size: 16px;
  align-items: center;
  border: none;
  border-radius: 16px;
  color: white;
  background-color: #00336a;
}

.page-row {
  display: flex;
  width: 100%;
  padding-left: 135px;
  padding-right: 135px;
  background-color: white;
}

.page-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 135px;
  padding-right: 135px;
  background-color: white;
}

.div-text-1 {
  min-width: 430px;
  max-width: 430px;
}

.div-text-2 {
  margin-top: 16px;
  min-width: 420px;
  max-width: 420px;
}

.div-text-3 {
  width: 420px;
}

.div-text-4 {
  display: flex;
  flex-direction: column;
}

.div-text-5 {
  width: 434px;
  margin-bottom: 52px;
}

.div-text-6 {
  margin-top: 46px;
  text-align: justify;
  width: 602px;
}

.div-text-7 {
  display: flex;
  text-align: justify;
  width: 560px;
  border-radius: 24px;
  margin-top: 57px;
  background-color: #bfe9ff;
  color: #676666;
  padding: 55px;
  margin-right: 20px;
}

.div-text-8 {
  margin-top: 45px;
  width: 968px;
  text-align: justify;
}

.div-text-9 {
  display: flex;
  flex-direction: column;
  width: 560px;
  text-align: justify;
  color: #222222;
  margin-top: 20px;
}

.div-text-10 {
  width: 222px;
  text-align: center;
}

.div-text-11 {
  display: flex;
  text-align: justify;
  width: 470px;
  /* height: 318px; */
  flex-direction: column;
  /* background-color: purple; */
}

.div-text-12 {
  display: flex;
  text-align: justify;
  width: 423px;
}

.div-text-13 {
  display: flex;
  flex-direction: column;
  text-align: justify;
  width: 967px;
}

.div-service-page6 {
  display: flex;
  margin-top: 38px;
  width: 446px;
  flex-direction: row;
}

.div-text-page1 {
  display: flex;
  margin-top: 93px;
  flex-direction: column;
  z-index: 2;
}

.img-grade {
  position: absolute;
  left: 0px;
  opacity: 0.1;
  width: 370px;
}

.img-grade-2 {
  position: absolute;
  right: 0px;
  opacity: 0.1;
  width: 370px;
  transform: scaleX(-1);
}

.nav-datron {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ebebeb;
  padding-bottom: 10px;
  margin-top: 27px;
  margin-bottom: 24px;
  /* background-color: blue; */
}

.div-nav-datron {
  display: flex;
  flex-direction: column;
  text-align: justify;
  color: black;
  /* background-color: purple; */
}

.nav-link-datron {
  text-decoration: none;
  color: #a0a0a0;
}

.nav-link-datron:hover {
  color: #00336a;
}

.div-page2 {
  display: flex;
  min-width: 470px;
  max-width: 470px;
  flex-direction: column;
  margin-right: 30px;
  margin-bottom: 30px;
  /* background-color: red; */
}

.div-card-datron {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.card-datron {
  display: flex;
  flex-direction: column;
  margin-top: 73px;
  margin-right: 20px;
  padding: 24px;
  min-width: 370px;
  max-width: 370px;
  border: 3px solid white;
  border-radius: 8px;
}

.div-partner {
  display: flex;
  width: 100%;
  padding: 10px;
  /* background-color: red; */
  padding: 15px;
}

.div-imgs {
  display: flex;
}

.card-partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-left: 10px;
  min-width: 170px;
  max-width: 170px;
  min-height: 179px;
  max-height: 179px;
  border-radius: 24px;
  box-shadow: 0px 0px 15px 0.5px rgba(0, 0, 0, 0.1);
}

.div-left-page6 {
  display: flex;
  flex-direction: column;
  padding-left: 135px;
  padding-right: 135px;
  padding-top: 73px;
  width: 905px;
  height: 726px;
  border-radius: 0px 363px 363px 0px;
  background-color: #00336a;
}

.div-right-page6 {
  position: absolute;
  right: 0px;
  width: 711px;
  height: 726px;
  border-radius: 363px 0px 0px 363px;
  background-color: #a0a0a0;
}

.service-title {
  display: flex;
}

.circle-datron {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  min-width: 24px;
  min-height: 24px;
  max-height: 24px;
  max-width: 24px;
  border-radius: 100%;
  color: #00336a;
  background-color: #bfe9ff;
}

.div-question-content {
  display: flex;
  align-items: center;
  color: #222222;
  padding-left: 36px;
  margin-top: 42px;
  margin-bottom: 30px;
  width: 100%;
  height: 91px;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0px 5px 15px 0.5px rgba(0, 0, 0, 0.1);
}

.div-contact-left {
  display: flex;
  flex-direction: column;
  padding-top: 45px;
}

.div-contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: -152px;
  padding-top: 45px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  border-radius: 16px;
  max-width: 617px;
  min-width: 617px;
  max-height: 700px;
  min-height: 700px;
  font-size: 16px;
  color: #222222;
  background-color: white;
  box-shadow: 0px 5px 15px 0.5px rgba(0, 0, 0, 0.1);
}

.div-contact-form-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 30px;
  min-width: 570px;
  padding-bottom: 30px;
  margin-bottom: 0px;
  background-color: white;
  border-radius: 24px 0px 0px 24px;
  box-shadow: 0px 0px 15px 0.5px rgba(0, 0, 0, 0.1);
}

.div-text-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 23px;
}

.div-text-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 28px;
}

.div-text-message {
  width: 100%;
}

.map {
  margin-right: 30px;
  min-width: 550px;
  min-height: 550px;
  margin-top: 40px;
  /* margin-bottom: 40px; */
  border: 9px solid #0080c5;
  border-radius: 9px;
  background-color: white;
}

.div-map {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -93px;
}

.menu-footer {
  display: flex;
  align-items: flex-start;
  margin-right: 20px;
  width: 139px;
  padding: 0px;
  flex-direction: column;
  list-style: none;
}

.line-datron {
  width: 100%;
  border-bottom: 1px solid #00336a;
  padding-bottom: 9px;
  margin-bottom: 14px;
}

.menu-items {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.circle-link {
  display: flex;
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  margin-right: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-decoration: none;
  color: white;
  background-color: #00336a;
}

.div-text-foot {
  display: flex;
  align-items: center;
  margin-top: 60px;
  justify-content: space-between;
  font-size: 14px;
  width: 500px;
  color: #00336a;
}

.circle-datron {
  min-width: 3px;
  max-width: 3px;
  min-height: 3px;
  max-height: 3px;
  border-radius: 100%;
  background-color: #00336a;
}

.div-left-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.div-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.product-row {
  display: flex;
  justify-content: space-between;
  color: #222222;
  align-items: center;
  margin-bottom: 56px;
}

.product-filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-bottom: 2px;
  min-width: 255px;
  color: #00336a;
  border-bottom: 1px solid #011936;
}

.product-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-bottom: 30px;
  border-radius: 8px;
  padding: 20px;
  min-width: 270px;
  max-width: 270px;
  min-height: 277px;
  max-height: 277px;
  background-color: white;
  box-shadow: 0px 5px 15px 0.5px rgba(0, 0, 0, 0.1);
}

.href-product {
  display: flex;
  justify-content: space-between;
  width: 400px;
  font-size: 12px;
  color: #9e9e9e;
}

.product-item {
  display: flex;
  margin-top: 39px;
  /* background-color: red; */
  justify-content: space-between;
}

.product-img {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 370px;
  max-width: 370px;
  min-height: 318px;
  max-height: 318px;
  border-radius: 8px;
  /* box-shadow: 0px 3px 15px 0.1px rgba(0, 0, 0, 0.1); */
  /* background-color: red; */
}

.div-rent {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 32px;
  justify-content: space-between;
}

.rent-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
  border-radius: 24px;
  width: 569px;
  height: 173px;
  background-color: #bfe9ff;
}

.div-contact {
  display: flex;
  width: 100%;
  /* background-color: purple; */
}

.div-form-size {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 534px;
}

.div-address {
  display: flex;
  width: 50%;
  min-width: 570px;
  flex-direction: column;
  border-radius: 0px 24px 24px 0px;
  background-color: #0080c5;
  box-shadow: 0px 0px 15px 0.5px rgba(0, 0, 0, 0.1);
}

.address-circle {
  width: 100%;
  background-color: #00336a;
  border-radius: 281px 281px 0px 0px;
  min-height: 259px;
  margin-top: 16px;
}

.div-address-items {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: -150px;
}

.div-address-box {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 28px;
}

.address-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 16px;
  background-color: white;
  min-width: 230px;
  max-width: 230px;
  min-height: 169px;
  max-height: 169px;
  padding-top: 37px;
  padding: 24px;
  font-size: 14px;
  margin-left: 18px;
}

.div-contact-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
  color: white;
  padding-left: 89px;
}

.contact-items {
  display: flex;
  align-items: center;
  margin-bottom: 37px;
}

.div-dark-blue {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 0px 0px 24px 0px;
  background-color: #00336a;
  height: 100%;
}

.date-datron {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-right: 30px;
  margin-bottom: 39px;
}

.div-radio {
  margin-top: 23px;
}

.div-radio-state {
  display: flex;
  margin-top: 12px;
}

.link-map {
  color: #2f80ed;
  margin-top: 12px;
  text-decoration: none !important;
}

.link-partner {
  text-decoration: none;
  color: black;
}

.link-partner:hover {
  color: black;
}

.div-banner-tarja {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  min-width: 1000px;
  padding-right: 53px;
  padding-left: 53px;
  border-radius: 16px;
  width: 100%;
  box-shadow: 0px 0px 15px 0.5px rgba(0, 0, 0, 0.1);
  margin-top: -85px;
  background-color: white;
}

.tarja-items {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 12px;
  color: #00336a;
}

.tarja-text {
  margin-top: 15px;
}

.bar-tarja {
  height: 67px;
  border-left: 2px solid #ebebeb;
}

.bar-title-datron {
  width: 50px;
  height: 4px;
  background-color: #0080c5;
}
